body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

header {
    background-color: #3f51b5;
    padding: 20px;
    text-align: center;
    color: white;
}

.links {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin-left: 10px;
}

.nav-links a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: 0.3s;
}

.links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: 0.3s;
}

.links a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


.container {
    background: white;
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.div-title,
.div-description {
    margin-bottom: 15px;
    text-align: left;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.topic-options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.topic-options label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    background: #e0e0e0;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.topic-options label:hover {
    background-color: #d0d0d0;
}

button.active {
    background-color: #3f51b5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button {
    background-color: #3f51b5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #303f9f;
}

.like, .dislike{
    background-color: #9498aa;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px; 
}

.main-div {
    width: 50%;
    margin: auto;
}

.post {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post h4 {
    margin: 0;
    color: #3f51b5;
}

.post p {
    color: #555;
    margin-top: 5px;
}
.box {
    display: flex;
    gap: 10px;
    width: 100px;
    margin-top: 10px;
}