<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>


        <div id="mySidenav" class="sidenav">

            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">
                <span>Home</span>
            </a>
            <a href="/filter?category=Music">
                <span>Music</span>
            </a>
            <a href="/filter?category=Sport">
                <span>Sport</span>
            </a>
            <a href="/filter?category=Gaming">
                <span>Gaming</span>
            </a>
            <a href="/filter?category=Health">
                <span>Health</span>
            </a>
            <a href="/filter?category=General">
                <span>General</span>
            </a>
            <a href="/liked-posts">
                <span>My Likes</span>
            </a>

        </div>
        <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; open</span>

        <h1>Forum</h1>

        <div class="links">
            {{range $index, $e := .}}
            {{if eq $index 0}}
            {{if $e.User.IsLoggedIn}}
            <span>Welcome, <span id="username">{{$e.User.Username}}</span></span>
            <a href="/logout">Logout</a>
            {{else}}
            <a href="/login-page">Log in</a>
            {{end}}
            {{end}}
            {{end}}
        </div>


    </header>

    <a href="/create-Post">Create New Post</a>

    <main class="main-div">
        {{range .}}
        {{if ne .ID 0}}
        <div class="post" data-post-id="{{.ID}}">
            <p>by :
            <h2>{{.Username}}</h2>
            </p>
            <h4>{{.Title}}</h4>
            <p>{{.Descriptions}}</p>
            <p>{{.Time}}</p>
            <span>#{{.Topic}}</span>
            <div class="reactions">
                <div class="box">
                    <button class="like {{if .Reaction.Like}} active {{end}}">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <span>{{.Likes}}</span>
                    </button>

                    <button class="dislike {{if .Reaction.Dislike}} active {{end}}">
                        <i class="fa-solid fa-thumbs-down"></i>
                        <span>{{.Dislikes}}</span>
                    </button>
                </div>
                <div class="main-comment" data-post-id="{{.ID}}">
                    <div class="comment">
                        <button id="showComment"> <i class="fa-solid fa-comment"></i> </button>
                    </div>
                    <div class="comment-text">
                        <input class="input" type="text" placeholder="comment">
                        <button id="com" type="submit"> Comment </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="comment-content" data-post-id="{{.ID}}">
                <div>
                    <h3 class="name">sohachimi</h3>
                    <pre class="content">that's good</pre>
                    <span>2025-03-04 17:09:08</span>
                </div>
            </div>

        </div>
        {{end}}
        {{end}}
    </main>


    <script src="/static/scripts/main.js"></script>


</body>

</html>