<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>
        <h1>Forum</h1>

        <div class="links">
            <a href="/login-page">Log in</a>
            <div class="nav-links">
                <a href="/">
                    <span>Home</span>
                </a>
                <a href="/filter?category=Music">
                    <span>Music</span>
                </a>
                <a href="/filter?category=Sport">
                    <span>Sport</span>
                </a>
                <a href="/filter?category=Gaming">
                    <span>Gaming</span>
                </a>
                <a href="/filter?category=Health">
                    <span>Health</span>
                </a>
                <a href="/filter?category=General">
                    <span>General</span>
                </a>
                <a href="/likes">
                    <span>Likes</span>
                </a>
            </div>
            <a href="/singup-page">Create new account</a>
        </div>
    </header>

    <section>
        <form action="/posts" method="get">
            <div class="container">
                <h3>Create Post</h3>
                <div class="div-title">
                    <label for="title">Title :</label>
                    <input type="text" name="title" id="title" required>
                </div>
                <div class="div-description">
                    <label for="description">description :</label>
                    <textarea name="description" id="description" rows="4" required></textarea>
                </div>
                <div class="topic-options">
                    <label><input type="checkbox" id="music" name="topic" value="Music"> Music</label>
                    <label><input type="checkbox" id="sport" name="topic" value="Sport"> Sport</label>
                    <label><input type="checkbox" id="gaming" name="topic" value="Gaming"> Gaming</label>
                    <label><input type="checkbox" id="health" name="topic" value="Health"> Health</label>
                    <label><input type="checkbox" id="general" name="topic" value="General"> General</label>
                </div>
                <button type="submit">Post</button>
            </div>
        </form>
    </section>

    <main class="main-div">
        {{range .}}
        <div class="post">
            <h4>{{.Title}}</h4>
            <p>{{.Descriptions}}</p>
            <p>{{.Time}}</p>
            <span>#{{.Topic}}</span>
            <div class="box">
                <button class="like" type="submit">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <span id="span-like">0</span>
                </button>

                <button class="dislike" type="submit">
                    <i class="fa-solid fa-thumbs-down"></i>
                    <span id="span-dislike">0</span>
                </button>
            </div>
        </div>
        {{end}}
    </main>

    <script>

        const like = document.querySelector(".like")
        const dislike = document.querySelector(".dislike")

        like.addEventListener("click", function() {
            const span = document.getElementById("span-like")
           let i = span.textContent

           if (like.className === "like active") {
            like.classList.remove("active")
               span.textContent = Number(i) - 1
           } else {
                like.classList.add("active")
               span.textContent = Number(i) + 1
           }
        })


    </script>


</body>

</html>