<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forum</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .bor {
            background-color: rgb(214, 214, 238);
        }

        .links {
            display: flex;
            justify-content: space-around;
        }

        .container{
           text-align: center;
            padding: 10px 10px;
        }

        .div-title{
            padding-bottom: 7px;
        }
    </style>
</head>

<body>

    <header>
        <div class="bor">
            <h1 style="text-align: center;">forum</h1>
            <div class="links">
                <a href="/login-page">Log in</a>
                <a href="/singup-page">Create new account</a>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <h3>Create Post : </h3>
            <div class="div-title">
                <label for="title">Title</label>
                <input type="text" id="title">
            </div>
            <div>
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment"></textarea>
            </div>
            <button class="button-comment" type="button" style="margin-top: 7px;"> click </button>
        </div>
    </section>

    <main>

    </main>


    <script src="/forum/scripts/main.js"></script>

</body>

</html>