<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <div class="page-login">
        <form id="loginForm" method="post">
            <div class="cont">
                <h1>Login</h1>
                <div class="input-login">
                    <input type="text" name="username" id="username" required placeholder="Username">
                    <i class='bx bx-user-circle'></i>
                </div>
                <div class="input-login">
                    <input type="password" name="password" id="password" required placeholder="Password">
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div id="errorMsg" style="display:none; color:red;"></div>

                <div class="remember-login">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="regist">
                    <p>Don't have an account? <a href="/singup-page">Register</a></p>
                </div>
            </div>
        </form>
    </div>


    <script src="/static/scripts/login.js"></script>

</body>

</html>