<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Account</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>

    <div class="page-login">
        <form id="signupForm" action="/singup" method="post">
            <div class="cont">
                <h1>Register</h1>
                <div class="input-login">
                    <input type="text" name="username" id="username" required placeholder="username">
                    <i class='bx bx-user-circle'></i>
                </div>
                <div class="input-login">
                    <input type="email" name="email" id="email" required placeholder="Email address or phone number">
                    <i class='bx bx-envelope'></i>
                </div>
                <div class="input-login">
                    <input type="password" name="pass1" id="pass1" required placeholder="New Password">
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="input-login">
                    <input type="password" name="pass2" id="pass2" required placeholder="Confirm Password">
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div id="errorMsg" style="display:none; color:red; margin-bottom: 10px;"></div>

                <button class="btn" type="submit">Sign Up</button>
                <div class="regist">
                    <p>Already have an account? <a href="/login-page">Login</a></p>
                </div>

            </div>
        </form>
    </div>

    <script>
        let btn = document.querySelector(".btn")
        let pass1 = document.querySelector("#pass1")
        let pass2 = document.querySelector("#pass2")
        let errorMsg = document.querySelector("#errorMsg")
        let email = document.querySelector("#email")

        function isStrongPassword(password) {
            const hasLower = /[a-z]/.test(password);
            const hasUpper = /[A-Z]/.test(password);
            const hasNumber = /\d/.test(password);
            const isLong = password.length >= 8;

            return hasLower && hasUpper && hasNumber && isLong;
        }
        function isGmail(email) {
            const start = /^[a-zA-Z]/.test(email)
            const end = email.endsWith("@gmail.com")
            return start && end
        }
        btn.addEventListener("click", (e) => {

            if (!isGmail(email.value)) {
                errorMsg.textContent = "Email must be a valid Gmail address.";
                errorMsg.style.display = "block";
                e.preventDefault()
                return
            }


            if (!isStrongPassword(pass1.value)) {
                errorMsg.textContent = "Password must be at least 8 characters long and include at least one number, one lowercase letter, and one uppercase letter.";
                errorMsg.style.display = "block";
                e.preventDefault()
                return
            }

            if (pass1.value !== pass2.value) {
                errorMsg.textContent = 'Password not match';
                errorMsg.style.display = "block";
                e.preventDefault()
                return
            }
        })
    </script>

</body>

</html>